.FaqsFormPage {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 1%;
}

input {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    border: 2px solid rgb(218, 65, 96);
}

/* # */

#faqinput {
    width: 80%;

}

#faqtextarea{
    width: 80%;
    height: 150px;

}

.containerFaq{
    display: flex;
    flex-direction: row;
}
form .button {
    background: white;
    height: 4em;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    margin: 1%;
}

.unstyleMe {
    width: 100%
}