.ticket {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 2%;
}

#ticketInfoForm {
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.containerTicketInfo{
    display: flex;
    flex-direction: row;
}

.infoTextArea {
    width: 60%;
    height: 40%;
    border-radius: 10px;
    border: 2px solid rgb(218, 65, 96);
    font-family: dosis;
}

.slide-photo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.slide-photo img {
    width: 100%;
    height: 270px;
    border-radius: 10px;
}

.img-item {
    position: relative;
}

.img-item .box {
    position: absolute;
    right: 0;
    bottom: 3%;
    width: 10%;
    height: 10%;

}

@media only screen and (max-width: 600px) {
    .slide-photo {
        display: grid;
        grid-template-columns: auto;
    }

    #ticketInfoForm {
        width: 80%;
    }

    .ticketInfotextarea {
        width: 75%;
        height: 20%;
        border: 3px solid rgb(218, 65, 96);
    }
}