input {
    border: 1px solid red; 
    border-radius: 3px;
    margin: 5px; 
    width: 250px;
    height: 20px;
}

.fb {
    background-color: #3b5998;
    color: white; 
    width: 200px;
    height: 50px; 
}


.item {
    width: 150px;
    height: 50px; 
}

#or {
    border-bottom: 1px solid red;
    line-height: 0.1em; 
    margin: 20px 30% 20px 30%; 
}

p span {
    background: white; 
    padding: 0 10px; 
}

form p {
    width: 200px; 
}

form {
    margin: 2% 10% 2% 10%; 
}




