.created-by {
    background-color: #e6331c;
    color: antiquewhite;
    padding-bottom: .5em;
}

.created-by div img {
    width: 100%;
    height: auto;
}

.creatorContainer {
    display: flex;
    justify-content: center;
    margin: 3%;
    padding-right: 5vw;
    padding-left: 5vw;
    flex-wrap: wrap;
}

.creator {
    padding: 30px;
    text-align: center;
    width: 80px;
}

.creatorIcon {
    flex: 1;
}

.avatar {
    width: 80px !important;
    height: 80px !important;
}


@media screen and (max-width: 600px) {

    .creator {
        padding: 10px;
    }

    .avatar {
        width: 40px !important;
        height: 40px !important;
    }
}