.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.59);
    width: 100vw;
    max-height: 6em;
    min-height: 3.5em;
    position: fixed;
    padding: 1em;
}

.app-header span {
    color: #FFCC03;
    font-weight: 700;
    /* padding: .5em; */
}

.app-header span img {
    width: 70%;
    height: auto;
}