.navbarBody {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 15vh;
    z-index: 2;
    margin-top: 0;
}

#opacityOn {
    opacity: 0.6;
}

#opacityOff {
    opacity: 1;
}

.navbarBody span {
    font-size: 1em;
    color: #FFCC03;
    font-weight: 700;
    padding: .5em;
}

.navbarBody span a {
    text-decoration: none;
    color: #FFCC03;
}


.navbarBody span img {
    width: 70%;
    height: auto;
    opacity: 1;
}

#burger {
    width: 30px;
    z-index: 6;
}

.navMenu {
    position: fixed;
    margin-top: 15vh;
    font-family: 'Englebert';
    margin-top: 15vh;
    width: 100vw;
    height: 85vh;
    background: #FFCC03;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 4;
}

.menuItem {
    color: #0170b7;
    font-family: 'englebert';
    font-size: 3em;
}

.menuOpen {
    display: block;
}

.menuClosed {
    display: none;
}

#burgerButton {
    background: none;
    border: none;
}