#connectSectionPreview {
    background-color: #0B132B;
    color: #C4EBC8;
}

.festivalEmail {
    text-decoration: none;
    color: #7C9EB2;
}

.socialIcon {
    height: 50px;
    width: auto;
    padding: 1%;
}

@media only screen and (max-width: 600px) {
    #emailIcon {
        height: 20px;
        width: auto;
    }
}