.dashboardPage {
    height: auto;
}

#dashHeader {
    font-family: englebert;
    font-size: 2em;
    margin-top: 15vh;
    padding: 1%;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aDashboard {
    text-decoration: none;
    color: #474d69;
    font-weight: 600;
    cursor: pointer;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    background: rgb(235, 232, 232);
    height: 100vh;
    padding: 2%;
}

.itemDash {
    font-size: 1.3em;
    color: #474d69;
    padding: 2%;
    border-radius: 10px;
    align-self: center;
    font-family: dosis;
    background: lightgray;
    margin: 1%;
    width: 30%;
    box-shadow: 2px 2px 3px grey;
}

.previewDash {
    font-family: englebert;
    color: #474d69;
    background-color: #ffcc03;
    font-size: 2em;
    border-radius: 5px;
    margin-top: 5%;
    box-shadow: 1px 1px 2px grey;
    cursor: pointer;
}

.previewDash:hover {
    background-color: #474d69;
    color: lightgray;
}

.dashboardIcon {
    width: 80%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    .itemDash {
        width: 10%;
    }

    .buttonContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dashboardIcon {
        width: 70%;
    }
}