.footer-end {
    width: 100%;
    background: #474D69;
    padding-bottom: .2em;
    padding-top: .2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer-text {
    color: antiquewhite;
    font-weight: 600;
    margin: 0;
}