.locationFormPage {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 2%;
}

#locationInfoForm {
    width: 60%;
    border-radius: 5px;
}

.containerTicketInfo {
    display: flex;
    flex-direction: row;
}

.infoTextArea {
    width: 60%;
    height: 40%;
    border-radius: 5px;
    border: 2px solid rgb(218, 65, 96);
    font-family: dosis;
}

.addressLineInput {
    width: 60%;
    font-family: dosis;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

@media only screen and (max-width: 600px) {

    #ticketInfoForm {
        width: 95%;
    }

    .ticketInfotextarea {
        width: 75%;
        height: 20%;
        border: 3px solid rgb(218, 65, 96);
    }

    .containerTicketInfo {
        display: flex;
        flex-direction: column;
    }

    .item {
        width: 250px;
        font-size: 20px;
        margin: 5% 0;
    }
}
