.App {
  text-align: center;
}

p {
  font-family: 'Dosis', sans-serif;
}

h5 {
  font-family: 'Englebert', sans-serif;
}

h4 {
  font-family: 'Englebert', sans-serif;
}

h3 {
  font-family: 'Englebert', sans-serif;
}

h2 {
  font-family: 'Englebert', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-family: 'Englebert', sans-serif;
}

.formPageDashboard {
  padding: 5vh 10vw;
  text-align: left;
  background: #F6F6F6;
  border-radius: 5px;
}

.formPageMargin {
  margin: 1%;
}

.buttonBoxFormButton {
  color: white;
}