.buy-tickets {
    background-color: black;
    color: antiquewhite;
    width: 100%;
}
.buy-tickets img {
    width: 100%;
    height: 100vh;
}

.btn {
    background: #3eeaf5;
    width: 20em;
    height: 4em;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 1%;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .buy-tickets .btn {
        width: 80%;
        height: 3em;
        font-size: 20px;
        font-weight: 700;
        margin: 2%;
    }
    .buy-tickets img {
        height: auto;
    }
  }