.buy-tickets {
    background-color: black;
    color: antiquewhite;
    width: 100%;
    /* margin-top: -.3em;
    padding-bottom: 25px;
    font-size: 1.2em; */
}

.buy-tickets .btn {
    background: #3eeaf5;
    width: 20em;
    height: 4em;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
@media only screen and (max-width: 600px) {
    .buy-tickets .btn {
        width: 80%;
        height: 3em;
        font-size: 20px;
        font-weight: 700;
    }
  }