#buy-tickets {
    background-color: #0B132B;
    color: antiquewhite;
}


.btn {
    background: #52528C;
    /* width: 20em;
    height: 4em; */
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    /* margin: 1%; */
    cursor: pointer;
    font: #0B132B;
    padding: 1vh;
}

.btn a {
    text-decoration: none;
    color: #C4EBC8;
}

@media only screen and (max-width: 600px) {
    .buy-tickets .btn {
        width: 80%;
        height: 3em;
        font-size: 20px;
        font-weight: 700;
        margin: 2%;
    }

}